*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calender-main{
    width: 94%;
    margin: 20px auto;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px grey ;
    height: calc(100vh - 40px);
    display: flex;
}
.left-side{
    width: 250px;
    height: inherit;
    background-color: black;
    color: white;
}
.right-side{
    width: calc(100% - 250px);
    height: inherit ;
}
.heading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.switch-day, .cal-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
.prev,.next, .switched-day{
    background-color: rgb(245, 245, 245);
    text-align: center;
    padding: 10px 10px 6px ;
    cursor: pointer;
}
.prev{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.next{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.switched-day{
   margin: 0 5px;

}
.cal-filter div{
    padding: 10px 10px 8px ;
    margin: 0 5px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    color: rgb(87, 87, 87);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.cal-filter div:hover{
    background-color: rgb(221, 0, 0);
    color: white;
}
.cal-search{
    padding: 10px 10px 8px ;
    background-color:rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 18px;
   
}

.search-form input{
    background-color:rgb(245, 245, 245);
    border: none;
    outline: none;

}
.search-form input:focus{
    outline: none;
    border: none;
}
/** calender table..*/
.schedule-table{
    width: 100%;
    margin-top: 10px;
    height: auto;
    padding: 10px;
}
.table table{
    width: 100%;
    border-collapse: collapse;
}
.table th,.table td{
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin: 0;
    border-top: none;
    width: 65px;
    height: 60px;
    position: relative;
}
.table th{
    text-align: left;
    padding-left: 5px;
    padding-top: 0;
}
.table th span{
    font-size:xx-small;
    margin: 0;
    color: grey;
    position: absolute;
    top: 2px;
}
.table td h6{
    font-size:xx-small;
    margin: 0;
    color: rgb(117, 117, 117);
    position: absolute;
    top: 2px;
    left: 10px;
}
.table th h6{
    font-size: larger;
    position: relative;
    top: 2px;
}
.table th:first-child,.table td:first-child,.table th:last-child,.table td:last-child{
    width: 20px;
    border: none;
}
.table th:nth-child(2),.table td:nth-child(2){
    border-left: 0;
    background-color: rgb(248, 248, 248);
}
.table th:nth-last-child(2),.table td:nth-last-child(2){
    border-right: 0;
    background-color: rgb(248, 248, 248);
}
/** left side...*/

.left-side .head{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 12px 0;
    align-items: center;
}
.head h4{
    font-size:x-large;
    font-weight: 300;
}
.head > span{
    font-weight: 100;
    font-size: x-small;
}
.head > span i{
    cursor: pointer;
    margin: 10px 5px;
}
/**side */
.days-of-the-week th{
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    color: rgb(153, 153, 153);
}
.days-tiles td{
    text-align: center;
    font-weight: 200;
    font-size: 11px;
    background: rgb(14, 13, 13);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease-in-out;
    height: 30px;
    width: 40px;
}
.side-cal{
    border-collapse: separate;
}
.days-tiles td:hover{
    background: black;
}

.Sun{
    background-color: rgb(173, 6, 6) !important;
}